* {
    margin: 0;
    padding: 0;
    color: #ADBAC7;
    box-sizing: border-box;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    background-color: #22272E;
}
header, footer {
    width: 100%;
    background-color: #2D333B;
}
header h2{
    padding-bottom: 10px;
}
h1, h2 {
    text-align: center;
}
.img {
    background-image: url("spOOky-color.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    padding-left: 40px;
    padding-bottom: 20px;
    font-size: 20px;
    list-style-type:circle
}
p {
    text-align: center;
    font-size: 30px;
    line-height: 120px;
}
.card {
  width: 80%;
  margin: 40px auto;
  border: 1px solid #373E47;
  border-radius: 10px;
  border-style: inset;
}